<mat-form-field appearance="outline" class="w-full" [formGroup]="field">
    <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?" matTooltipPosition="right">
    </mat-checkbox>
    <mat-label>Seleccion</mat-label>
    <mat-select formControlName="name" required>
        @for (option of options; track option._id) {
        <mat-option [value]="option.name">{{option.name}}</mat-option>
        }
    </mat-select>
    @if(!isUnique()){
    <button matSuffix mat-icon-button type="button" matTooltip="Eliminar {{isTable() ? 'columna' : 'campo'}}"
        matTooltipPosition="left" (click)="removeColumn()">
        <mat-icon>close</mat-icon>
    </button>
    }
    @if (field.controls.name.invalid) {
    <mat-error class="truncate">Introduce una parametro válido</mat-error>
    }
</mat-form-field>