<form [formGroup]="alertForm" (ngSubmit)="save()">
    <span mat-dialog-title>Guardar alerta</span>
    <mat-dialog-content class="mat-typography">
        <div class="mt-2 mb-4 space-y-4">
            <div class="flex gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Formato</mat-label>
                    <mat-select formControlName="format" required>
                        @for (formart of formats(); track formart._id) {
                        <mat-option [value]="formart._id">{{formart.name}}</mat-option>
                        }
                    </mat-select>
                    @if (alertForm.controls.format.invalid) {
                    <mat-error>Introduce un formato válido</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Peridiocidad</mat-label>
                    <mat-select id="frequency" formControlName="frequency" required>
                        @for (option of periodicity(); track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-select>
                    @if (alertForm.controls.frequency.invalid) {
                    <mat-error>Introduce una peridiocidad válida</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="flex gap-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" id="date" formControlName="date" required>

                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    @if (alertForm.controls.date.invalid) {
                    <mat-error>Introduce una fecha de inicio válida</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Hora de notificación</mat-label>
                    <input matInput type="time" formControlName="hour">
                    @if (alertForm.controls.hour.invalid) {
                    <mat-error>Introduce una hora de notificación válida</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button cdkFocusInitial type="submit">Guardar</button>
    </mat-dialog-actions>
</form>