<form [formGroup]="formatForm" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="flex items-center justify-between mb-3">
        <div class="flex items-center gap-x-2">
            <button mat-icon-button type="button" (click)="goToFormats()"
                matTooltip="Atras"><mat-icon>arrow_back</mat-icon>
            </button>
            <h6 class="mb-0">Detalle del formato</h6>
        </div>
        <div class="flex items-center gap-x-2">
            @let formatSelected = formatId();
            <button mat-stroked-button type="submit"
                *appPermission="[permissions.CREATE_FORMATS, permissions.UPDATE_FORMATS]">
                <mat-icon>save</mat-icon> Guardar
            </button>
            @if(formatSelected){
            <button mat-stroked-button class="text-red-600" type="button" (click)="remove(formatSelected)"
                *appPermission="permissions.DELETE_FORMATS">
                <mat-icon>delete</mat-icon> Eliminar
            </button>
            }
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="my-7">
        <div class="flex gap-4">
            <mat-form-field class="w-full">
                <mat-label>Nombre del formato</mat-label>
                <input matInput type="text" id="name" formControlName="name" required />
                @if (formatForm.controls.name.invalid) {
                <mat-error>Introduce un nombre válido</mat-error>
                }
            </mat-form-field>

            <div class="flex gap-4">
                <mat-slide-toggle formControlName="state" labelPosition="before" class="self-center w-full mb-4">
                    Estado
                </mat-slide-toggle>
                <mat-slide-toggle #alert [formControl]="formatForm.controls.alert.controls.state" labelPosition="before"
                    class="self-center w-full mb-4" (change)="alertChange(alert.checked)">
                    Alarma
                </mat-slide-toggle>
            </div>
        </div>

        @if(alert.checked){
        <app-alert [alertForm]="formatForm.controls.alert"></app-alert>
        }

        <section formArrayName="rows">
            <span class="font-bold">Campos</span>

            <div cdkDropList (cdkDropListDropped)="drop($event)">
                @for (row of formatForm.controls.rows.controls; track row; let i = $index) {
                <div class="flex justify-between items-center group" cdkDrag>
                    <button mat-icon-button type="button" matTooltip="Arrastrar fila"
                        class="invisible group-hover:visible" cdkDragHandle>
                        <mat-icon>drag_indicator</mat-icon>
                    </button>

                    <div class="flex-1 border-dashed border-transparent group-hover:border-black/50">
                        <ng-container *ngComponentOutlet="componentMap[row.controls.type.value]; inputs: {row}" />
                    </div>

                    <button mat-icon-button type="button" matTooltip="Eliminar fila"
                        class="invisible group-hover:visible" (click)="removeRow(i)">
                        <mat-icon class="text-red-600">delete</mat-icon>
                    </button>
                </div>
                }
            </div>

            <div class="text-center">
                <button mat-button type="button" class="text-center" (click)="addRow(rowTypes.SINGLE)">
                    <mat-icon>add</mat-icon>Añadir fila
                </button>
                <button mat-button type="button" class="text-center" (click)="addRow(rowTypes.AREA)">
                    <mat-icon>add</mat-icon>Añadir area
                </button>
                <button mat-button type="button" class="text-center" (click)="addRow(rowTypes.TABLE)">
                    <mat-icon>add</mat-icon>Añadir tabla
                </button>
            </div>
        </section>
    </div>
</form>