<form [formGroup]="formatForm" (ngSubmit)="save()">
    <div class="flex items-center justify-between mb-3">
        <div class="flex items-center gap-x-2">
            <button mat-icon-button type="button" (click)="goToFormats()"
                matTooltip="Atras"><mat-icon>arrow_back</mat-icon>
            </button>
            <h6 class="mb-0">Detalle del formato</h6>
        </div>
        <div class="flex items-center gap-x-2">
            @let formatSelected = formatId();
            <button mat-stroked-button type="submit"
                *appPermission="[permissions.CREATE_FORMATS, permissions.UPDATE_FORMATS]">
                <mat-icon>save</mat-icon> Guardar
            </button>
            @if(formatSelected){
            <button mat-stroked-button class="text-red-600" type="button" (click)="remove(formatSelected)"
                *appPermission="permissions.DELETE_FORMATS">
                <mat-icon>delete</mat-icon> Eliminar
            </button>
            }
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="my-7">
        <div class="flex gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombre del formato</mat-label>
                <input matInput type="text" id="name" formControlName="name" required />
                @if (formatForm.controls.name.invalid) {
                <mat-error>Introduce un nombre válido</mat-error>
                }
            </mat-form-field>

            <div class="flex gap-4">
                <mat-slide-toggle formControlName="state" labelPosition="before" class="self-center w-full mb-4">
                    Estado
                </mat-slide-toggle>
                <mat-slide-toggle #alert [formControl]="formatForm.controls.alert.controls.state" labelPosition="before"
                    class="self-center w-full mb-4" (change)="alertChange(alert.checked)">
                    Alarma
                </mat-slide-toggle>
            </div>
        </div>

        @if(alert.checked){
        <div class="flex gap-4" formGroupName="alert">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Peridiocidad</mat-label>
                <mat-select id="frequency" formControlName="frequency">
                    @for (option of frequencies; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-select>
                @if (formatForm.controls.alert.controls.frequency.invalid) {
                <mat-error>Introduce una peridiocidad válida</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Responsable</mat-label>
                <mat-select id="responsibleUser" formControlName="responsibleUser">
                    @for (user of users(); track user._id) {
                    <mat-option [value]="user._id">{{user.firstNames}} {{user.lastNames}}</mat-option>
                    }
                </mat-select>
                @if (formatForm.controls.alert.controls.responsibleUser.invalid) {
                <mat-error>Introduce una peridiocidad válida</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="picker" id="startAt" formControlName="startAt"
                    [value]="formatForm.controls.alert.controls.startAt.value" />

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                @if (formatForm.controls.alert.controls.startAt.invalid) {
                <mat-error>Introduce una fecha de inicio válida</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Hora de notificación</mat-label>
                <input matInput [matTimepicker]="timepicker" id="timeStart" formControlName="startAt"
                    [value]="formatForm.controls.alert.controls.startAt.value" />

                <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
                <mat-timepicker #timepicker />

                @if (formatForm.controls.alert.controls.startAt.invalid) {
                <mat-error>Introduce una hora de notificación válida</mat-error>
                }
            </mat-form-field>
        </div>
        }

        <section formArrayName="rows">
            <span class="font-bold">Campos</span>

            <div cdkDropList (cdkDropListDropped)="drop($event)">
                @for (row of formatForm.controls.rows.controls; track row) {
                @if (row.controls.type.value === rowTypes.SINGLE) {
                <app-row-single [row]="row" (remove)="removeRow($index)"></app-row-single>
                }
                @if (row.controls.type.value === rowTypes.AREA) {
                <app-row-area [row]="row" (remove)="removeRow($index)"></app-row-area>
                }
                @if (row.controls.type.value === rowTypes.TABLE) {
                <app-row-table [row]="row" (remove)="removeRow($index)"></app-row-table>
                }
                }
            </div>

            <button mat-button type="button" class="text-center">
                <mat-icon>add</mat-icon>Añadir fila
            </button>
        </section>
    </div>
</form>