<div class="flex justify-between">
    <div cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)" class="flex flex-wrap gap-x-2">
        @for (field of row.controls.fields.controls; track field; let columnIndex = $index) {
        <div cdkDrag>
            <app-fields-config [field]="field" (remove)="removeColumn($index)"></app-fields-config>
        </div>
        }
    </div>
    <button mat-icon-button type="button" matTooltip="Agregar campo" class="self-center invisible group-hover:visible"
        (click)="addColumn()">
        <mat-icon>variable_add</mat-icon>
    </button>
</div>