<div class="flex border-dashed border-black/50" cdkDrag>
    <button mat-icon-button type="button" matTooltip="Arrastrar" matTooltipPosition="before" class="self-center"
        cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
    </button>

    <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
        class="flex gap-x-3 w-full overflow-hidden">
        @for (input of row.controls.fields.controls; track input; let columnIndex = $index) {
        <mat-form-field appearance="outline" class="w-full mt-5 horizontal" [formGroup]="input" cdkDrag>
            <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?">
            </mat-checkbox>
            <mat-label>Campo {{typeNames[input.controls.type.value]}}</mat-label>
            <input matInput type="text" formControlName="name" required>
            @if(row.controls.fields.controls.length > 1){
            <button matSuffix mat-icon-button type="button" matTooltip="Eliminar campo" (click)="removeColumn($index)">
                <mat-icon>delete</mat-icon>
            </button>
            }
            @if (input.controls.name.invalid) {
            <mat-error class="truncate">Introduce un nombre válido</mat-error>
            }
        </mat-form-field>
        }
    </div>
    <button mat-icon-button type="button" [matMenuTriggerFor]="rowInputs" class="self-center">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #rowInputs="matMenu">
        <ng-template matMenuContent let-rowIndex="data">
            <button mat-menu-item [matMenuTriggerFor]="inputsMenu">
                <mat-icon>add</mat-icon>
                <span>Añadir campo</span>
            </button>
            <button mat-menu-item (click)="removeRow()">
                <mat-icon class="text-red-600">delete</mat-icon>
                <span class="text-red-600">Eliminar fila</span>
            </button>
        </ng-template>
    </mat-menu>

    <mat-menu #inputsMenu="matMenu">
        <button mat-menu-item (click)="addColumn()">
            <span>Nuevo</span>
        </button>
    </mat-menu>
</div>