video {
    width: 100%;
}

.chat-content {
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.message {
    width: fit-content;

    &.me {
        align-self: end;
    }
}