<mat-nav-list>
    @for (format of formats(); track format._id) {
    <a mat-list-item class="truncate w-full" [routerLink]="[paths.FORMATS, format._id, paths.RECORDS]" routerLinkActive
        #rla="routerLinkActive" [activated]="rla.isActive" [title]="format.name | titlecase">
        @let folder = rla.isActive ? 'folder_open' : 'folder';
        <mat-icon matListItemIcon>{{folder}}</mat-icon>
        <div class="flex items-center justify-between">
            {{format.name | titlecase}}
        </div>
    </a>
    }
</mat-nav-list>