<div class="d-flex align-items-center justify-content-between">
    <h3>Mis asesorías</h3>

    <button id="btnCreateAdvisory" type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#consultanciesModal" (click)="create()">
        Crear asesoria
    </button>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Duriación</th>
            <th scope="col">Tema</th>
            <th scope="col">Asesor</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let advisory of consultancies$ | async">
            <td>{{advisory.startDate}} {{advisory.startTime}}</td>
            <td>{{advisory.duration}} minutos</td>
            <td>{{advisory.title}}</td>
            <td>
                {{
                advisory.adviser?._id === (authService.userData$ | async)?._id
                ? '(Tú)'
                : advisory.adviser?.name
                }}
            </td>
            <td>{{advisory.type ? 'Privado' :'Publico'}}</td>
            <td>{{advisory | state }}</td>
            <td>
                <button type="button" class="btn btn-warning me-3 toChat"
                    (click)="consultanciesService.chat(advisory._id!)">
                    Chat
                </button>
                <button type="button" class="btn btn-success me-3" data-bs-toggle="modal"
                    data-bs-target="#consultanciesModal" (click)="edit(advisory)"
                    *ngIf="advisory.ownerId === (authService.userData$ | async)?._id">
                    Editar
                </button>
                <button type="button" class="btn btn-danger" (click)="cancel(advisory._id!)"
                    *ngIf="advisory.ownerId === (authService.userData$ | async)?._id">
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger" (click)="desparticipate(advisory._id!, true)"
                    *ngIf="(advisory | state) === 'A tiempo' && advisory.adviser?._id === (authService.userData$ | async)?._id">
                    No asesorar
                </button>
                <button type="button" class="btn btn-danger" (click)="desparticipate(advisory._id!, false)"
                    *ngIf="(advisory | state) === 'A tiempo' && isParticipant(advisory, (authService.userData$ | async)!)">
                    No participar
                </button>
            </td>
        </tr>
        <tr *ngIf="!(consultancies$ | async)?.length">
            <td colspan="7" class="text-center"> No cuentas con ninguna asesoria, crea una para empezar</td>
        </tr>
    </tbody>
</table>

<app-detail-consultancies></app-detail-consultancies>