@switch(input.controls.type.value){
@case ('select') {
<mat-form-field appearance="outline" class="w-full" [formGroup]="input">
    @if (!isTable()) {
    <mat-label>{{select()?.name}}</mat-label>
    }
    <mat-select formControlName="value" [required]="input.controls.required.value">
        @for (option of select()?.options; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
    </mat-select>
    @if (input.controls.value.invalid) {
    <mat-error class="truncate">Introduce una opción válido</mat-error>
    }
</mat-form-field>
}
@case ('date') {
<mat-form-field appearance="outline" class="w-full" [formGroup]="input">
    @if (!isTable()) {
    <mat-label>{{input.controls.name.value}}</mat-label>
    }
    <input matInput [matDatepicker]="picker" formControlName="value" [required]="input.controls.required.value">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (input.controls.value.invalid) {
    <mat-error class="truncate">Introduce una fecha válida</mat-error>
    }
</mat-form-field>
}
@default{
<mat-form-field appearance="outline" class="w-full" [formGroup]="input">
    @if (!isTable()) {
    <mat-label>{{input.controls.name.value}}</mat-label>
    }
    <input matInput [type]="input.controls.type.value" id="name" formControlName="value"
        [required]="input.controls.required.value">
    @if (input.controls.value.invalid) {
    <mat-error class="truncate">Introduce un valor válido</mat-error>
    }
</mat-form-field>
}
}