<form [formGroup]="recordForm" (ngSubmit)="save()">
    <h6 mat-dialog-title>Guardar Registro</h6>
    <mat-dialog-content class="mat-typography">
        <div class="mt-2 mb-4">
            @for (rows of recordForm.controls.values.controls; track rows; let rowIndex = $index) {
            @if(rows.controls.type.value === 'single'){
            <app-record-text [values]="rows.controls.fields.controls[0]"></app-record-text>
            }
            @if(rows.controls.type.value === 'table'){
            <app-record-table [values]="rows.controls.fields"></app-record-table>
            }
            }
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button cdkFocusInitial type="submit">Guardar</button>
    </mat-dialog-actions>
</form>