<mat-toolbar class="justify-between sticky top-0 z-[101] border-0 border-solid border-b border-b-slate-400">
    <h4 class="text-sky-600 mb-0">HabiliDent</h4>

    <div class="flex items-center gap-x-4">
        <button mat-icon-button [matBadge]="notifications().length" [matBadgeHidden]="!notifications().length"
            [cdkMenuTriggerFor]="menu">
            <mat-icon>notifications</mat-icon>
        </button>
        {{username | titlecase}}
        <button mat-icon-button [matMenuTriggerFor]="subMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-progress-bar mode="query" class="z-[101]" [ngClass]="{'opacity-0' : !loading()}"></mat-progress-bar>

<mat-menu #subMenu="matMenu">
    @for (item of administration; track item.id) {
    <button mat-menu-item [routerLink]="item.path" *appPermission="item.permission">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
    </button>
    }
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
    </button>
</mat-menu>

<ng-template #menu>
    <mat-card appearance="outlined" class="shadow-xl min-w-96" cdkMenu>
        <mat-card-content>
            <mat-list>
                <div mat-subheader class="flex items-center justify-between m-0">
                    <b> Notificaciones </b>
                    <a mat-button routerLink="/calendar" tabindex="-1" cdkMenuItem>Ver calendario</a>
                </div>
                <mat-divider></mat-divider>
                @for (alert of notifications(); track alert._id) {
                <mat-list-item>
                    <div matListItemTitle>
                        <b>{{alert.format?.name | titlecase}}</b> - {{alert.lastGenerated | date: 'shortTime'}}
                    </div>
                    <div matListItemLine>
                        Realizar el registro {{alert.frequency | lowercase}} del formato
                        <button mat-button (click)="open(alert.format?._id)" cdkMenuItem>Ir</button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                }
            </mat-list>
            @if(notifications().length === 0){
            No hay alarmas para hoy
            }
        </mat-card-content>
    </mat-card>
</ng-template>