<mat-toolbar class="justify-between sticky top-0 z-[101] border-0 border-solid border-b border-b-slate-400">
    <h3 class="text-sky-600 mb-0">HabiliDent</h3>

    <div>
        @for (item of management; track item.id) {
        <button mat-button [routerLink]="item.path" *appPermission="item.permission">{{item.title}}</button>
        }
    </div>

    <div class="flex items-center gap-x-4">
        <button mat-icon-button [ngClass]="{'pointer-events-none': !notifications().length}"
            [matBadge]="notifications().length" [matBadgeHidden]="!notifications().length"
            (click)="showAlerts = !showAlerts">
            <mat-icon>notifications</mat-icon>
        </button>
        {{username | titlecase}}
        <button mat-icon-button [matMenuTriggerFor]="subMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-progress-bar mode="query" class="z-[101]" [ngClass]="{'opacity-0' : !loadingService.loading()}"></mat-progress-bar>

<mat-menu #subMenu="matMenu">
    @for (item of administration; track item.id) {
    <button mat-menu-item [routerLink]="item.path" *appPermission="item.permission">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
    </button>
    }
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
    </button>
</mat-menu>

@if (showAlerts) {
<mat-card appearance="outlined" class="absolute right-1 z-[101] shadow-xl">
    <mat-card-content>
        <mat-list>
            <div mat-subheader>Notificaciones</div>
            <mat-divider></mat-divider>
            @for (alert of notifications(); track alert._id) {
            <mat-list-item>
                <div matListItemTitle>
                    <b>{{alert.format?.name | titlecase}}</b> - {{alert.last_generated | date: 'shortTime'}}
                </div>
                <div matListItemLine>
                    Realizar el registro {{alert.frequency | lowercase}} del formato
                    <button mat-button (click)="open(alert.format?._id)">Ir</button>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            }
        </mat-list>
    </mat-card-content>
</mat-card>
}