<form [formGroup]="roleForm" (ngSubmit)="save()">
    <h6 mat-dialog-title>Guardar Rol</h6>
    <mat-dialog-content class="mat-typography">
        <div class="space-y-1 mt-1">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" id="name" formControlName="name" required>
                @if (roleForm.controls.name.invalid) {
                <mat-error>Introduce un nombre válido</mat-error>
                }
            </mat-form-field>

            <section formGroupName="permissions">
                <p class="font-bold">Permisos</p>

                <div class="grid grid-flow-row auto-rows-max">
                    @for (permission of roleForm.controls.permissions.controls; track $index) {
                    <div [formGroup]="permission">
                        <mat-checkbox formControlName="selected">{{permission.controls.name.value}}</mat-checkbox>
                    </div>
                    }
                </div>
            </section>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button cdkFocusInitial type="submit">Guardar</button>
    </mat-dialog-actions>
</form>