<div class="flex border-dashed border-black/50 bg-sky-300/20" cdkDrag>
    <button mat-icon-button type="button" matTooltip="Arrastrar" matTooltipPosition="before" class="self-center"
        cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
    </button>

    <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
        class="flex gap-x-3 w-full mt-5">
        @for (input of row.controls.fields.controls; track input; let columnIndex = $index) {
        @switch(input.controls.type.value){
        @case ('select') {
        <mat-form-field appearance="outline" class="w-full horizontal" [formGroup]="input" cdkDrag>
            <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?">
            </mat-checkbox>
            <mat-label>Columna Selección</mat-label>
            <mat-select formControlName="name" required>
                @for (option of options; track option._id) {
                <mat-option [value]="option._id">{{option.name}}</mat-option>
                }
            </mat-select>
            @if(row.controls.fields.controls.length > 1){
            <button matSuffix mat-icon-button type="button" matTooltip="Eliminar columna"
                (click)="removeColumn($index)">
                <mat-icon>delete</mat-icon>
            </button>
            }
            @if (input.controls.name.invalid) {
            <mat-error class="truncate">Introduce una parametro válido</mat-error>
            }
        </mat-form-field>
        }
        @default {
        <mat-form-field appearance="outline" class="w-full horizontal" [formGroup]="input" cdkDrag>
            <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?">
            </mat-checkbox>
            <mat-label>Columna {{getType(input)}}</mat-label>
            <input matInput type="text" formControlName="name" required>
            @if(row.controls.fields.controls.length > 1){
            <button matSuffix mat-icon-button type="button" matTooltip="Eliminar columna"
                (click)="removeColumn($index)">
                <mat-icon>delete</mat-icon>
            </button>
            }
            @if (input.controls.name.invalid) {
            <mat-error class="truncate">Introduce un nombre válido</mat-error>
            }
        </mat-form-field>
        }
        }
        }
    </div>
    <button mat-icon-button type="button" [matMenuTriggerFor]="rowInputs" class="self-center">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #rowInputs="matMenu">
        <ng-template matMenuContent let-rowIndex="data">
            <button mat-menu-item [matMenuTriggerFor]="inputsMenu">
                <mat-icon>add</mat-icon>
                <span>Añadir columna</span>
            </button>
            @if(!isUnique()){
            <button mat-menu-item (click)="removeRow()">
                <mat-icon class="text-red-600">delete</mat-icon>
                <span class="text-red-600">Eliminar fila</span>
            </button>
            }
        </ng-template>
    </mat-menu>

    <mat-menu #inputsMenu="matMenu">
        @for (item of typeInputs; track $index) {
        <button mat-menu-item (click)="addColumn(item.type)">
            <span>{{item.name}}</span>
        </button>
        }
    </mat-menu>
</div>