<div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)"
    class="flex gap-x-3 w-full overflow-hidden">
    @for (rowInputs of row.controls.fields.controls; track rowInputs; let rowIndex = $index) {
    @for (input of rowInputs.controls; track input; let columnIndex = $index) {
    <mat-form-field appearance="outline" class="w-full mt-5 horizontal" [formGroup]="input" cdkDrag>
        <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?">
        </mat-checkbox>
        <mat-label>Columna </mat-label>
        <input matInput type="text" formControlName="name" required>
        @if(row.controls.fields.controls.length > 1){
        <button matSuffix mat-icon-button type="button" matTooltip="Eliminar columna"
            (click)="removeInput(rowIndex, columnIndex)">
            <mat-icon>delete</mat-icon>
        </button>
        }
        @if (input.controls.name.invalid) {
        <mat-error class="truncate">Introduce un nombre válido</mat-error>
        }
    </mat-form-field>
    }
    }
</div>