<mat-nav-list>
    @for (format of formats(); track format._id) {
    <mat-list-item class="group" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
        @let folder = rla.isActive ? 'folder_open' : 'folder';
        <mat-icon matListItemIcon>{{folder}}</mat-icon>
        <div class="flex items-center justify-between">
            <span class="truncate w-full" [routerLink]="[paths.FORMATS, format._id, paths.RECORDS]"
                [title]="format.name | titlecase">
                {{format.name | titlecase}}
            </span>
            <button mat-icon-button class="invisible group-hover:visible" matTooltip="Configurar formato"
                *appPermission="permissions.READ_FORMATS" [routerLink]="[paths.FORMAT, format._id]">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </mat-list-item>
    }
</mat-nav-list>