<div class="modal fade" id="consultanciesModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Asesoria</h5>
                <button #modalClose type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="consultoryForm" class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="title" class="form-label">Tema *</label>
                            <input type="text" class="form-control" id="title" formControlName="title"
                                [ngClass]="{ 'is-invalid': form.title.touched && form.title.errors}" />
                            <div class="invalid-feedback">
                                <div *ngIf="form.title.errors?.['required']">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-12">
                            <label for="startDate" class="form-label">Fecha de Inicio *</label>
                            <input type="date" class="form-control" id="startDate" formControlName="startDate"
                                [ngClass]="{ 'is-invalid': form.startDate.touched && form.startDate.errors}" />
                            <div class="invalid-feedback">
                                <div *ngIf="form.startDate.errors?.['required']">Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="startTime" class="form-label">Hora de Inicio *</label>
                            <input type="time" class="form-control" id="startTime" formControlName="startTime"
                                [ngClass]="{ 'is-invalid': form.startTime.touched && form.startTime.errors}" />
                            <div class="invalid-feedback">
                                <div *ngIf="form.startTime.errors?.['required']">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 col-12">
                            <label for="duration" class="form-label">Duración (minutos) *</label>
                            <input type="number" class="form-control" id="duration" formControlName="duration"
                                [ngClass]="{ 'is-invalid': form.duration.touched && form.duration.errors}" />
                            <div class="invalid-feedback">
                                <div *ngIf="form.duration.errors?.['required']">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-4">
                            <div class="d-flex">
                                <span class="me-2">Publico</span>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="type"
                                        formControlName="type" />
                                    <label class="form-check-label" for="type">Privado</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea class="form-control" id="description" formControlName="description"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnSave" (click)="onSubmit()"
                    [disabled]="consultoryForm.invalid">Guardar</button>
            </div>
        </div>
    </div>
</div>