<app-navbar></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened [fixedInViewport]="true" fixedTopGap="64"
    class="border-0 border-solid border-r border-r-slate-400 rounded-tr-none rounded-br-none">
    <app-formats></app-formats>
  </mat-sidenav>
  <mat-sidenav-content class="bg-white">
    <main class="mx-10 my-5">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<iframe #pdfIframe class="hidden" title="reports"></iframe>