<app-navbar></app-navbar>
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav mode="over" opened class="w-20 hover:w-80 transition-all border-r-slate-400 rounded-tr-none rounded-br-none">
    <app-formats></app-formats>
  </mat-sidenav>
  <mat-sidenav-content class="bg-white">
    <main class="mx-40 my-5">hola mundo
      <!-- <router-outlet></router-outlet> -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<iframe #pdfIframe class="hidden" title="reports"></iframe>