<form [formGroup]="recordForm" (ngSubmit)="save()">
    <div class="flex items-center justify-between mb-3">

        @let recordSelected = recordId();
        <div class="flex items-center gap-x-2">
            <h6 class="mb-0">Registro de <span>{{format?.name | titlecase}}</span></h6>

            @if(recordSelected){
            <button mat-button type="button" (click)="print(recordSelected)">
                <mat-icon>print</mat-icon> Imprimir
            </button>
            }
        </div>
        <div class="flex items-center gap-x-2">
            <button mat-stroked-button type="submit"
                *appPermission="[permissions.CREATE_RECORDS, permissions.UPDATE_RECORDS]">
                <mat-icon>save</mat-icon> Guardar
            </button>
            @if(recordSelected){
            <button mat-stroked-button class="text-red-600" type="button" (click)="remove(recordSelected)"
                *appPermission="permissions.DELETE_RECORDS">
                <mat-icon>delete</mat-icon> Eliminar
            </button>
            }
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="my-7">
        <mat-form-field class="w-full mt-5 hidden">
            <mat-label>Fecha de vigencia</mat-label>
            <input matInput [matDatepicker]="picker" id="dateEffective" formControlName="dateEffective" required>

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            @if (recordForm.controls.dateEffective.invalid) {
            <mat-error>Introduce una fecha de vigencia válida</mat-error>
            }
        </mat-form-field>

        @for (row of rows(); track row; let rowIndex = $index) {
        <ng-container *ngComponentOutlet="componentMap[row.controls.type.value]; inputs: {row}" />
        }
    </div>
</form>