<form [formGroup]="recordForm" (ngSubmit)="save()">
    <h6 mat-dialog-title>Guardar Registro</h6>
    <mat-dialog-content class="mat-typography">
        <div class="mt-2 mb-4">
            @for (row of recordForm.controls.rows.controls; track row; let rowIndex = $index) {
            @if(row.controls.type.value === 'single'){
            <app-record-text [fields]="row.controls.fields"></app-record-text>
            }
            @if(row.controls.type.value === 'area'){
            <app-record-area [fields]="row.controls.fields"></app-record-area>
            }
            @if(row.controls.type.value === 'table'){
            <app-record-table [fields]="row.controls.fields" [values]="row.controls.values" ></app-record-table>
            }
            }
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button cdkFocusInitial type="submit">Guardar</button>
    </mat-dialog-actions>
</form>