<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre completo *</label>
        <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{ 'is-invalid': form.name.touched && form.name.errors}" />
        <div class="invalid-feedback">
            <div *ngIf="form.name.errors?.['required']">Este campo es obligatorio.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico *</label>
        <input type="email" class="form-control" id="email" formControlName="email"
            [ngClass]="{ 'is-invalid': form.email.touched && (form.email.errors || profileForm.errors?.['domain'])}" />
        <div class="invalid-feedback">
            <div *ngIf="form.email.errors?.['required']">Este campo es obligatorio.</div>
            <div *ngIf="form.email.errors?.['email']">
                El correo electrónico ingresado no es válido.
            </div>
            <div *ngIf="profileForm.errors?.['domain']">
                El dominio ingresado no es válido.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="phone" formControlName="phone"
                [ngClass]="{ 'is-invalid': form.phone.touched && form.phone.errors}" />
            <div class="invalid-feedback">
                <div *ngIf="form.phone.errors?.['minlength']">
                    El teléfono debe tener al menos 10 numberos.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <label for="birthDate" class="form-label">Fecha de nacimiento *</label>
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate" [max]="maxDate"
                [ngClass]="{ 'is-invalid': form.birthDate.touched && form.birthDate.errors}" />
            <div class="invalid-feedback">
                <div *ngIf="form.birthDate.errors?.['required']">Este campo es obligatorio.</div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
        <button type="submit" class="btn btn-primary">Guardar datos personarles</button>
    </div>
</form>

<hr />

<form [formGroup]="changePasswordForm" (ngSubmit)="onChange()">
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <label for="password" class="form-label">Contraseña *</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                [ngClass]="{ 'is-invalid': formPassword.password.touched && formPassword.password.errors}" />
            <div class="invalid-feedback">
                <div *ngIf="formPassword.password.errors?.['required']">Este campo es obligatorio.</div>
                <div *ngIf="formPassword.password.errors?.['minlength']">
                    La contraseña debe tener al menos 8 caracteres.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <label for="passwordConfirm" class="form-label">Confirmar contraseña *</label>
            <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm"
                [ngClass]="{ 'is-invalid': formPassword.passwordConfirm.touched && (formPassword.passwordConfirm.errors || changePasswordForm.errors?.['confirm'])}" />
            <div class="invalid-feedback">
                <div *ngIf="formPassword.passwordConfirm.errors?.['required']">Este campo es
                    obligatorio.
                </div>
                <div *ngIf="changePasswordForm.errors?.['confirm']">Las contraseñas no son iguales</div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </div>
</form>

<hr />

<div class="d-flex align-items-center justify-content-between">
    <ng-container *ngIf="user?.googleId; else notGoogle">
        <span>Desconecta tu cuenta de google</span>
        <button type="button" class="btn btn-danger" (click)="onSocial(null)">Eliminar</button>
    </ng-container>
    <ng-template #notGoogle>
        <span>Conecta tu cuenta con google</span>
        <asl-google-signin-button type="standard" size="medium" data-text="signup_with"></asl-google-signin-button>
    </ng-template>
</div>