<div class="flex gap-x-2">
    @for (input of inputs.controls; track input; let columnIndex = $index) {
    @if(input.controls.type.value=='text'){
    <mat-form-field appearance="outline" class="w-full" [formGroup]="input">
        <mat-label>{{input.controls.name.value}}</mat-label>
        <input matInput [type]="input.controls.type.value" id="name" formControlName="value"
            [required]="input.controls.required.value">
        @if (input.controls.value.invalid) {
        <mat-error class="truncate">Introduce un valor válido</mat-error>
        }
    </mat-form-field>
    }
    }
</div>