<div class="flex gap-x-2 pt-5" [ngClass]="{'bg-black/10' : row.controls.type.value === 'table'}">
    <button mat-icon-button type="button" matTooltip="Arrastrar" matTooltipPosition="before" class="self-center mb-4">
        <mat-icon>drag_indicator</mat-icon>
    </button>
    @for (input of row.controls.fields.controls; track input; let columnIndex = $index) {
    @if(input.controls.type.value=='text'){
    <mat-form-field appearance="outline" class="w-full" [formGroup]="input">
        <mat-checkbox matPrefix formControlName="required" matTooltip="¿Campo obligatorio?" matTooltipPosition="right">
        </mat-checkbox>
        <input matInput type="text" id="name" formControlName="name" required>
        <button matSuffix mat-icon-button type="button" matTooltip="Eliminar Campo" matTooltipPosition="left"
            (click)="removeColumn(columnIndex)">
            <mat-icon>close</mat-icon>
        </button>
        @if (input.controls.name.invalid) {
        <mat-error class="truncate">Introduce un nombre válido</mat-error>
        }
    </mat-form-field>
    }
    }
    <button mat-icon-button type="button" [matMenuTriggerFor]="rowInputs" class="self-center mb-4">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #rowInputs="matMenu">
        <ng-template matMenuContent let-rowIndex="data">
            <button mat-menu-item (click)="addColumn()">
                <mat-icon>add</mat-icon>
                <span>Añadir campo</span>
            </button>
            <button mat-menu-item (click)="removeRow()">
                <mat-icon class="text-red-600">delete</mat-icon>
                <span class="text-red-600">Eliminar fila</span>
            </button>
        </ng-template>
    </mat-menu>
</div>