<form [formGroup]="formatForm" (ngSubmit)="save()">
    <h5 mat-dialog-title>Guardar Formato</h5>
    <mat-dialog-content class="mat-typography">
        <div class="mt-2 mb-4 space-y-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" id="name" formControlName="name" required>
                @if (formatForm.controls.name.invalid) {
                <mat-error>Introduce un nombre válido</mat-error>
                }
            </mat-form-field>
            <mat-divider></mat-divider>
            <section formArrayName="matrix">
                <p class="font-bold">Campos</p>
                @for (rows of formatForm.controls.matrix.controls; track rows; let rowIndex = $index) {
                <div [ngClass]="{'bg-black/10' : rows.controls.type.value==='table'}">
                    <app-format-row [inputs]="rows.controls.inputs" (remove)="removeRow(rowIndex)"></app-format-row>
                </div>
                }
                <button mat-button type="button" (click)="addRow('text')">
                    <mat-icon>add</mat-icon>Añadir fila de campos
                </button>
                <button mat-button type="button" (click)="addRow('table')">
                    <mat-icon>add</mat-icon>Añadir tabla
                </button>
            </section>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-stroked-button mat-dialog-close>Cancelar</button>
        <button mat-flat-button cdkFocusInitial type="submit">Guardar</button>
    </mat-dialog-actions>
</form>